{% extends 'base.html' %}
{% block title %} | Dashboard{% endblock %}
{% block content %}
{% load i18n %}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{% trans "Votre Tableau de Board" %}</h1>
          <p class="lead">{% trans "Gère ton CasaPlus compte" %}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> {% trans "Accueil" %}</a>
          </li>
          <li class="breadcrumb-item active"> {% trans "tableau de Board" %}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h2>{% trans "Bienvenue" %} {{ user.first_name }}</h2>
            {% if contacts %}
              <p>{% trans "Voici les annonces immobilières sur lesquelles vous vous êtes renseigné." %}</p>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans "Propriété" %}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for contact in contacts %}
                    <tr>
                      <td>{{ contact.id }}</td>
                      <td>{{ contact.listing }}</td>
                      <td>
                        <a class="btn btn-light" href="{% url 'listing' contact.listing_id %}">{% trans "Voir la liste" %}</a>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <p>{% trans "Vous n'avez pas fait de recherches" %}</p>
                {% endif %}
                </tbody>
              </table>
          </div>

        </div>

    </div>
  </section>

{% endblock %}
